footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #555;
    color: white;
}
.navbar-header {
    float: left;
    padding: 10px;
    text-align: center;
    width: 100%;
}
.navbar-brand {float:none;}

button{
    margin: 8px 4px;
}

canvas{
    max-width : 750px;
    max-height : 375px;
    margin : 1em;
    border : 1px solid gray;
}